Checks: bugprone-*,clang-analyzer-*,cppcoreguidelines-*,-modernize-*,performance-*,portability-*,-cppcoreguidelines-pro-type-vararg,-performance-avoid-endl,-cppcoreguidelines-init-variables,misc-redundant-expression
